---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
import ModeToggle from "./ModeToggle.astro";
import { buttonVariants } from "./ui/button";
import Brand from "./Brand.astro";
---

<header transition:persist>
  <nav class="mx-auto flex max-w-3xl justify-between gap-4 px-4 py-3">
    <a href="/" class="block">
      <h2 class="text-2xl"><Brand /></h2>
      a personal blog by <i><abbr title="Johannes Choo">jhanschoo</abbr></i>
    </a>
    <div class="flex items-center gap-1">
      <Link
        className={buttonVariants({ variant: "ghost", size: "icon" })}
        href="https://github.com/jhanschoo/"
        external
        aria-label="Go to jhanschoo's GitHub profile"
      >
        <Icon name="lucide:github" />
      </Link>
      <ModeToggle class="cursor-pointer" transition:persist />
    </div>
  </nav>
</header>
